extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2= title
        div.form-group
          a.btn.btn-primary.btn-login.fb-btn(href='/auth/facebook') Facebook
        div.form-group
          a.btn.btn-info.btn-login.twitter-btn(href='/auth/twitter') Twitter
        div.form-group
          a.btn.btn-primary.btn-login.vk-btn(href='/auth/vk') Vk
