body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.btn-login {
  width: 100%;
  height: 50px;
  font-size: 24px;
}

.fb-btn {
  background-color: #4267b2;
}

.twitter-btn {
  background-color: #1da1f2;
}

.vk-btn {
  background-color: #4a76a8;
}

.row {
  justify-content: center;
}